<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbscarlet.mytest" >
    <application>
        <activity android:name="com.dbscarlet.mytest.core.VersionInfoAct"/>
        <activity android:name="com.dbscarlet.mytest.core.FindPatchAct"/>
        <activity android:name="com.dbscarlet.mytest.core.apiTest.ApiTestAct" />
    </application>
</manifest>
