<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbscarlet.mytest" >
    <application>
        <activity android:name=".core.VersionInfoAct"/>
        <activity android:name=".core.FindPatchAct"/>
        <activity android:name=".core.apiTest.ApiTestAct" />
        <activity android:name=".core.authentication.AuthenticationAct" />
        <activity android:name=".core.curvetest.CurveTestActivity" />
        <activity android:name=".widget.test.WidgetTestAct" />
    </application>
</manifest>
